html,
body {
  width: 100%;
  height: 100vh;
}

.App {
  text-align: center;
  color: white;
  background: #319cd6;
  height: 100vh;
}

.login-conainer {
  text-align: right;
}

.full-name,
.profile-image,
.login-password {
  display: flex;
  justify-content: center;
}
