html,
body {
  width: 100%;
  height: 100vh;
}

nav {
  width: 100%;
  background-color: #555;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: blue;
  cursor: pointer;
}

nav a:hover {
  color: #319cd6;
}

.App {
  text-align: center;
  color: white;
  background: #319cd6;
  height: 100vh;
}

.login-conainer {
  text-align: right;
}

.full-name,
.profile-image,
.login-password {
  display: flex;
  justify-content: center;
}
